{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinemas List</title>
    <link rel='stylesheet' type='text/css' href='{% static "ticketing/css/main.css" %}'>
</head>
<body dir='rtl'>
    <h1>
        سامانه فروش بلیت سینما
    </h1>
    <h2 class='special'>
        لیست سینماها
    </h2>
    <a href=' {% url "ticketing:movie_list" %} '>
        لیست فیلم ها
    </a>
    <ul>
        {% if cinemas %}
            <ul>
                {% for cinema in cinemas %}
                    <li>
                    {{ cinema }}
                    </li>
                {% endfor %}
            </ul>
        {% else %} 
            <p style="color: red">
            سینمایی وجود ندارد
            </p>
        {% endif %}
    </ul>
    <script src='{% static "ticketing/js/main/js" %}'></script>
</body>
</html>